.pr-tabview {
    padding: .25em;
}

.pr-tabview .pr-tabview-nav {
    margin: 0;
}

.pr-tabview .pr-tabview-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 .125em 1px 0;
    padding: 0;
    white-space: nowrap;
}

.pr-tabview .pr-tabview-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.pr-tabview .pr-tabview-nav li.pr-tabview-selected a,
.pr-tabview .pr-tabview-nav li.pr-state-disabled a,
.pr-tabview .pr-tabview-nav li.pr-state-processing a {
    cursor: text;
}

.pr-tabview .pr-tabview-nav li a,
.pr-tabview.pr-tabview-collapsible .pr-tabview-nav li.pr-tabview-selected a {
    cursor: pointer;
}

.pr-tabview .pr-tabview-panel {
    border-width: 0;
    padding: 1em;
    background: none;
}

.pr-tabview .pr-tabview-nav li {
    display: block;
}

.pr-tabview .pr-tabview-nav li .pr-tabview-left-icon,
.pr-tabview .pr-tabview-nav li .pr-tabview-right-icon,
.pr-tabview .pr-tabview-nav li .pr-tabview-title {
    vertical-align: middle;
}

.pr-tabview .pr-tabview-nav li .pr-tabview-close {
    margin: 0.5em 0.3em 0 0;
    cursor: pointer;
}

/* per orientation settings */
/* top and bottom */
.pr-tabview.pr-tabview-top > .pr-tabview-nav li {
    border-bottom: 0;
    top: 1px;
}

.pr-tabview.pr-tabview-top > .pr-tabview-nav {
    padding: .2em .2em 0;
}

.pr-tabview.pr-tabview-bottom > .pr-tabview-nav {
    padding: 0 .2em .2em;
}

.pr-tabview.pr-tabview-bottom > .pr-tabview-nav li {
    border-top: 0;
}

/* left and right*/
.pr-tabview-left:after,
.pr-tabview-right:after {
    clear:both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.pr-tabview-left > .pr-tabview-nav {
    float:left;
    width: 25%;
    height: 300px;
    background-image: none;
    padding-top: 1px;
}

.pr-tabview-left > .pr-tabview-panels {
    float:right;
    width: 75%;
}

.pr-tabview.pr-tabview-left > .pr-tabview-nav li,
.pr-tabview.pr-tabview-right > .pr-tabview-nav li{
    display: block;
    float: right;
    white-space: normal;
    width: 99%;
}

.pr-tabview.pr-tabview-left > .pr-tabview-nav li {
    margin: 0 0 1px 0;
    border-right:0 none;
}

.pr-tabview.pr-tabview-right > .pr-tabview-nav {
    float:right;
    width: 25%;
    height: 300px;
    background-image: none;
    padding-top: 1px;
}

.pr-tabview.pr-tabview-right > .pr-tabview-panels {
    float:left;
    width: 75%;
}

.pr-tabview.pr-tabview-right > .pr-tabview-nav li {
    margin: 0 0 1px 0;
    border-left:0 none;
}

/* RTL */
.pr-rtl .pr-tabview .pr-tabview-nav li {
    float: right;
}
